# This file may be used to create an environment using:
# $ conda create --name brian2-2.2.1 --file requirements.txt --channel conda-forge
# platform: osx-64, linux-64
brian2==2.2.1
matplotlib>=3.5.3
numpy>=1.19
pandas>=1.3.5
python>=3.6.8,<3.8.0
scipy>=1.7.3
scikit-learn>=1.0.2